<%- include("header") -%>

<div class="box" id="heading">
    <h1><%= listType %>!</h1>
</div>

<div class="box">
    <% list.forEach((item) => { %>
    <div class="item">
        <input type="checkbox">
        <p><%= item %></p>
    </div>
    <% }) %>
    <form class="item" action="/" method="post">
        <input type="text" name="newItem" id="" placeholder="New Item" autocomplete="off">
        <button type="submit" name="submit" value="<%= listType %>">+</button>
    </form>
</div>

<%- include("footer") -%>